DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_SECRET=
VENDOR_EMAIL=
VENDOR_USERKEY=
VENDOR_LINK_ORIGIN=
VENDOR_LINK_CHANGE_PASSWORD=
VENDOR_LINK_UNBIND_USERS=
DISCORD_SERVER_WEBHOOK=
DISCORD_OAUTH_LINK=
DISCRD_REDIRECT_URI=
DISCORD_ADMIN_ID=